/* .keyboard {
    /* border-radius: 20px; */


/*
padding: 10px;
padding-bottom: 20px;
border-width: 8px;
border-color: black;
outline-width: 8px;
outline: greenyellow;
background: white;

}
*/

.wrong-text {
    color: red;
}

.correct-text {
    color: black;
}

.keyboard-row {
    border-radius: 20px;
    border-color: black;
}

.keyboard-button--middle-size {
    padding: 20px 25px;
}

.button:hover {
    background-color: #b6ceb7
}

.button_active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px #666;
    transform: translateY(1em);
}

.keyboard--thumb {
    background-color: red;
    color: white;
}

.keyboard--force-finger {
    background-color: orange;
    color: white;
}

.keyboard--middle-finger {
    background-color: #AAAA00;
    color: white;
}

.keyboard--ring-finger {
    background-color: blue;
    color: white;
}

.keyboard--little-finger {
    background-color: purple;
    color: white;
}

body {
    margin: 0;
}

.center-div {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.center-p {
    display: block;
    background: #333;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
    background: #aaa;
}

#problem {
    color: white;
}