.keyboard {
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-style: ridge;
    border-width: 8px;
    border-color: black;
    outline-width: 8px;
    outline: greenyellow;
    background: white;
}

.keyboard-row {}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    flex: 1;
}

.keyboard-button--middle-size {
    padding: 20px 25px;
}

.button:hover {
    background-color: #b6ceb7
}

.button_active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px #666;
    transform: translateY(15px);
}

.keyboard--thumb {
    background-color: red;
}

.keyboard--force-finger {
    background-color: orange;
}

.keyboard--middle-finger {
    background-color: #AAAA00;
}

.keyboard--ring-finger {
    background-color: blue;
}

.keyboard--little-finger {
    background-color: purple;
}

body {
    margin: 0;
}

.center-div {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

p {
    display: block;
    background: #333;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
    background: #aaa;
}


/* 漂浮助理() */

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 120px;
    width: auto;
    border-style: hidden;
    /* border: 3px solid hsl(85, 68%, 40%); */
    border-radius: 30px;
}

.fixed-bottom img {
    border-radius: 70%;
    max-width: 300px;
    width: auto;
    overflow: hidden;
}